In [27]:
import pandas as pd
import numpy as np

In [28]:
df=pd.read_csv('v.csv')
df

   color size  price classlabel
0    red    L  15.10     Class1
1  green   XL  20.00     Class2
2   blue    S  12.34     Class2
3    red    M  13.00     Class1

In [29]:
#size maping
size_maping={'S':1,'M':2,'L':3,'XL':4}#change string to int values
print("\n",size_maping)
print("\n")
df['size']=df['size'].map(size_maping)
print(df)

 {'S': 1, 'M': 2, 'L': 3, 'XL': 4}


   color  size  price classlabel
0    red     3  15.10     Class1
1  green     4  20.00     Class2
2   blue     1  12.34     Class2
3    red     2  13.00     Class1

In [30]:
class_maping={label:idx for idx,label in enumerate(np.unique(df['classlabel']))}
#class_maping={'class1':0,'class2':1}
print("\n",class_maping)
print("\n")
df['classlabel']=df['classlabel'].map(class_maping)
print(df)

 {'Class1': 0, 'Class2': 1}


   color  size  price  classlabel
0    red     3  15.10           0
1  green     4  20.00           1
2   blue     1  12.34           1
3    red     2  13.00           0

In [31]:
#inverse size maping
inv_size_map={v: k for k,v in size_maping.items()}
print("\n",inv_size_map)
print("\n")
df['size']=df['size'].map(inv_size_map)
print(df)

 {1: 'S', 2: 'M', 3: 'L', 4: 'XL'}


   color size  price  classlabel
0    red    L  15.10           0
1  green   XL  20.00           1
2   blue    S  12.34           1
3    red    M  13.00           0